body {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
}

html {
  font-family: "PT+Serif";
}

header, footer {
  font-size: 1.25rem;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f1622;
}

.class {
  font-family: "PT Sans";
  font-weight: bold;
  color: #3f1622;
}

h2 {
  color: #3f1622;
  font-size: 1.125rem;
  font-family: "PT sans";
  font-weight: bold;
}

nav ol li {
  font-size: 1rem;
  font-weight: bold;
}

li a {
  color: #8f2448;
  font-family: "PT Sans", sans-serif;
}

li a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

p {
  font-family: "PT Serif";
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
}

blockquote {
  font-size: 1.51rem;
  font-weight: bold;
  font-style: italic;
  color: #222;
  font-family: "PT Sans", sans-serif;
}

figure + p {
  font-size: 1.25rem;
  font-family: "PT Sans", sans-serif;
  color: #222;
  font-weight: bold;
}

img {
  width: 100%;
}

.mainmenu {
  list-style-type: none;
}
