body {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
  font-family: "PT sans", sans-serif;
}

header, footer {
  font-size: 1.25rem;
  font-weight: bold;
}

h1, h2 {
  color: #3f1622;
  textsize: 1.5rem;
  font-family: "PT sans", bold;
}

nav ol li {
  font-size: 1rem;
  font-weight: bold;
}
